/*  your css code here. If applicable */
.hero{
	display:flex; 
	justify-content:space between;
	align-items:center;
	gap:2%;
}
img{
object-fit: cover;
	width:500
	
}
#bt{
	padding:5px 12px;
	background-color:red;
	color:white;
	border-radius:2px;
}